/*colors */
$color-1: #000000;
$color-2: #FFFFFF;
$color-3: #2c3e50;
$color-4: #42b983;
$color-5: #222;
$color-6: #00bc77;
$color-7: red;
$color-8: #12002b;
$color-9: #ccc;


/*breakpoints*/
$breakpoints: (
    mobile-min: 425px,
    tablet-min: 720px,
    laptop-min: 920px,
    laptop: 1024px,
    laptop-xl: 1180px,
    laptop-xxl :1920px,
    laptop-xxxl :2560px,
);