@import "../../sass/variables";
@import "../../sass/mixins";

.header {
    color: $color-2;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
    }
}

.edit-button {
    display: block;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $color-6;
    background-color: $color-6;
    color: $color-2;


}

.update-form {
    margin: auto;
    display: block;

    @include tablet {
        width: 300px;

    }

}